@font-face {
  font-family: "Dancing Script";
  src: url("Fonts/Dancing_Script/static/DancingScript-Bold.ttf");
}

* {
  color: #a2b0c4;
  font-family: "Dancing Script";
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  background: #1b2a3d;
}
