@font-face {
  font-family: "Satisfy";
  src: url("./fonts/Satisfy-Regular.ttf");
}

@media (orientation: landscape) and ((max-width: 1000px) or (min-width: 431px)) and (max-height: 700px) {
  * {
    display: none;
  }
}

/*PC*/
@media only screen and (min-width: 1001px) {
  * {
    color: #ffffff;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  
  body {
    padding: 0;
    margin: 0;
    background: #1b2a3d;
  }
  
  .reward-btn {
    width: 120px;
    height: 40px;
    background-color: #101218;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .IconContainer {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .IconContainer svg {
    width: 40%;
    z-index: 3;
  }
  .box-top {
    transition: all 0.3s;
  }
  .text {
    width: 70px;
    height: 100%;
    font-size: 13px;
    color: #6a8ef6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
  }
  .reward-btn:hover .IconContainer .box-top {
    transform: translateY(-5px);
  }
  .reward-btn:hover {
    background-color: #202531;
  }
  .reward-btn:hover .coin {
    transform: translateY(-5px);
    transition-delay: 0.2s;
  }
  .coin {
    width: 25%;
    height: 25%;
    background-color: #e4d61a;
    position: absolute;
    border-radius: 50%;
    transition: all 0.3s;
    z-index: 1;
    border: 2px solid #ffe956;
    margin-top: 4px;
  }
  
  .contenedor {
    display: flex;
  }
  
  .loader {
    width: 24px;
    height: 24px;
    position: relative;
    transform: rotate(45deg);
  }
  
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: #0000;
    background-image: radial-gradient(circle 6px at 50% 50%, #0000 94%, #ff4747);
  }
  
  .loader:after {
    animation: pulse 1s infinite;
    transform: perspective(336px) translateZ(0px);
  }
  
  @keyframes pulse {
    to {
      transform: perspective(336px) translateZ(168px);
      opacity: 0;
    }
  }
  
  a {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
  }
  
  .square1 {
    width: 250px;
    height: 250px;
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  
  .square2 {
    width: 250px;
    height: 250px;
    display: flex;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
  }
  
  .square3 {
    width: 250px;
    height: 250px;
    display: flex;
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
  }
  
  .square4 {
    width: 250px;
    height: 250px;
    display: flex;
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
  }
  
  img {
    object-fit: cover;
  }

  #gridArea {
    display: grid;
    gap: 4px;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 100%;
    grid-template-areas:
      "prin"
      "cont"
      "cont"
      "cont"
      "cont"
      "cont"
      "cont";
    height: 99.6vh;
  }

  #contenedor_principal {
    grid-area: cont;
    display: grid;
    align-content: space-between;
    justify-items: center;
    max-height: 95%;
    width: 100%;
    text-align: center;
  }

  #container {
    grid-area: prin;
    max-height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 3;
  }

  #container_2 {
    max-width: 60%;
    z-index: 3;
  }

  .label {
    font-size: 24px;
    text-align: center;
    font-style: italic;
  }

  .grow {
    font-size: 32px;
    text-align: center;
    font-family: "Satisfy";
  }

  .pad {
    padding-top: 5px;
  }

  .img-esquina-superior-izquierda {
    position: relative;
    rotate: 270deg;
    z-index: 2;
    top: -40px;
    left: -40px;
    clip-path: inset(40px 40px 0 0);
  }

  .img-esquina-superior-derecha {
    position: relative;
    z-index: 2;
    right: -40px;
    top: -40px;
    clip-path: inset(40px 40px 0 0);
  }

  .img-esquina-inferior-izquierda {
    rotate: 180deg;
    position: relative;
    z-index: 2;
    left: -40px;
    bottom: -40px;
    clip-path: inset(40px 40px 0 0);
  }

  .img-esquina-inferior-derecha {
    rotate: 90deg;
    position: relative;
    z-index: 2;
    right: -40px;
    bottom: -40px;
    clip-path: inset(40px 40px 0 0);
  }
}

/*CEL*/
@media only screen and (orientation: portrait) and ((max-width: 430px) and (min-width:330px))  {
  * {
    color: #ffffff;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  
  body {
    padding: 0;
    margin: 0;
    background: #1b2a3d;
  }
  
  .reward-btn {
    width: 120px;
    height: 40px;
    background-color: #101218;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .IconContainer {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .IconContainer svg {
    width: 40%;
    z-index: 3;
  }
  .box-top {
    transition: all 0.3s;
  }
  .text {
    width: 70px;
    height: 100%;
    font-size: 13px;
    color: #6a8ef6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
  }
  .reward-btn:hover .IconContainer .box-top {
    transform: translateY(-5px);
  }
  .reward-btn:hover {
    background-color: #202531;
  }
  .reward-btn:hover .coin {
    transform: translateY(-5px);
    transition-delay: 0.2s;
  }
  .coin {
    width: 25%;
    height: 25%;
    background-color: #e4d61a;
    position: absolute;
    border-radius: 50%;
    transition: all 0.3s;
    z-index: 1;
    border: 2px solid #ffe956;
    margin-top: 4px;
  }
  
  .contenedor {
    display: flex;
  }
  
  .loader {
    width: 24px;
    height: 24px;
    position: relative;
    transform: rotate(45deg);
  }
  
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: #0000;
    background-image: radial-gradient(circle 6px at 50% 50%, #0000 94%, #ff4747);
  }
  
  .loader:after {
    animation: pulse 1s infinite;
    transform: perspective(336px) translateZ(0px);
  }
  
  @keyframes pulse {
    to {
      transform: perspective(336px) translateZ(168px);
      opacity: 0;
    }
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  .square1 {
    width: 250px;
    height: 250px;
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  
  .square2 {
    width: 250px;
    height: 250px;
    display: flex;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
  }
  
  .square3 {
    width: 250px;
    height: 250px;
    display: flex;
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
  }
  
  .square4 {
    width: 250px;
    height: 250px;
    display: flex;
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
  }
  
  img {
    object-fit: cover;
  }

  .pad {
    padding-top: 4.5%;
  }

  .label {
    font-size: 17px;
    font-style: italic;
    text-align: center;
    line-height: 1.15;
  }

  .grow {
    font-size: 25px;
    text-align: center;
    font-style: italic;
    font-family: "Satisfy";
  }

  .img-esquina-superior-izquierda {
    width: 250px;
    rotate: 235deg;
    position: absolute;
    z-index: 2;
    left: -90px;
    top: -80px;
  }

  .img-esquina-superior-derecha {
    width: 250px;
    position: absolute;
    z-index: 2;
    right: -90px;
    top: -80px;
  }

  .img-esquina-inferior-izquierda {
    width: 250px;
    rotate: 175deg;
    position: absolute;
    z-index: 2;
    left: -95px;
    bottom: -95px;
  }

  .img-esquina-inferior-derecha {
    width: 250px;
    rotate: 65deg;
    position: absolute;
    z-index: 2;
    right: -95px;
    bottom: -95px;
  }

  #gridArea {
    display: grid;
    gap: 2px;
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
    grid-template-areas:
      "prin"
      "cont";
    height: 99.6vh;
  }

  #contenedor_principal {
    grid-area: cont;
    display: grid;
    align-content: space-between;
    justify-items: center;
    max-height: 90%;
    width: 100%;
    text-align: center;
  }

  #container_2 {
    max-width: 80%;
    z-index: 3;
  }

  @media (max-height: 500px) {
    .label {
      font-size: 18px;
      text-align: center;
      font-style: italic;
    }

    .grow {
      font-size: 21px;
      text-align: center;
      font-family: "Satisfy";
    }
    #container_2 {
      max-width: 87%;
      z-index: 3;
    }
  }
}
